<div class='container'>	
	<h2>Indicators</h2>
	<h6 align=right style="padding-right: 2.8%"><a href="/indicator/sync"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Sync</a></h6>
	<table class='table'>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Author</th>
			<th>Created</th>
			<th>Edited</th>
			<th>Description</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% var i = 1; %>
		<% _.each(indicators, function(indicator) { %>
			<tr data-id="<%= indicator.id %>" data-model="indicator">
				<td><%= i %></td>
				<td><%= indicator.name%></td>
				<td><%= indicator.author %></td>
				<td><%= indicator.created %></td>
				<td><%= indicator.edited %></td>
				<td><%= indicator.description.slice(0,50) + "..." %></td>
				<input type="hidden" id="indicator_show-edit_name_<%= indicator.id %>" value="<%= indicator.name %>"/>
				<input type="hidden" id="indicator_show-edit_description_<%= indicator.id %>" value="<%= indicator.description %>"/>
				<td><a href="/indicator/new/<%= indicator.id %>" class="btn btn-sm btn-primary">Show</a></td>
				<td><button onclick="EditIndicator('<%= indicator.id %>')" class="btn btn-sm btn-warning">Edit</button></td>
				<td><form action="/indicator/destroy/<%= indicator.id %>" method="POST">
					<input type="hidden" name="_method" value="delete"/>
					<input type="submit" class="btn btn-sm btn-danger" value="delete"/>
					<input type="hidden" name="_csrf" value="<%= _csrf %>" />
				</form></td>
			</tr>
		<% i += 1; }) %>
	</table>
	<form action="/indicator/update" id="indicator_show-form" method="POST">
		<!-- Modal -->
		<div class="modal fade" id="indicator_show-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Edit Indicator</h4>
					</div>
					<div class="modal-body">
						<div id="indicator_show-errdiv"></div>
						<h5>Indicator name</h5>
						<input type="text" id="indicator_show-name" class="form-control" placeholder="Enter indicator name..."/>
						<hr>
						<h5>Description</h5>
						<textarea class="form-control" id="indicator_show-description" rows="10" placeholder="Enter indicator description..."></textarea>
						<input type="hidden" id="indicator_show-id" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />
						<input type="submit" class="btn btn-primary" value="Save Changes"></input>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<%- block('localScripts', '<script src="/localjs/indicator_show.js"></script>') %>
<%- block('localScripts', '<script src="/localjs/indicator_worker.js"></script>') %>