<div class="loader"></div>
<div class="container">
	<form action="/strategy/save" id="strategy_new-form" method="POST">
		<h2>Strategy Formation</h2>
		<hr>
		<ol class="breadcrumb">
			<li><span class="label label-default">Library</span></li>
			<li><input list="indicators" id="strategy_new-library"></li>
			<datalist id="indicators">
				<% _.each(strategies, function(strategy) { %>
				<option value="<%= strategy.name %>" id="<%= strategy.id %>">
				<% }); %>
			</datalist>
			<input type="button" value="load" id="strategy_new-load" />
		</ol>
		<div class="row">
			<div class="col-md-6">
				<h5>Strategy Code	</h5>
				<textarea id="strategy_new-code" class="form-control" rows=5><%= strategy.code %></textarea>
				<br>
				<h5>Execution Code</h5>
				<textarea name="plot_code" id="strategy_new-plotcode" class="form-control" rows=5><%= strategy.plotcode %></textarea>
				<br>
				<input type="button" id="strategy_new-run", value="Run">
				<input type="button" id="strategy_new-remove", value="Remove">
				<input type="button" id="strategy_new-download" Value="Download">
			</div>
			<div class="col-md-6">
				<div id="container" style="height: 400px; min-width: 310px"></div>
				<div class="col-md-5">
					<input type="radio" id="strategy_new-simulate_price" name="type" value="Simulate" checked /> Simulate 
				    <input type="radio" id="strategy_new-real_price" name="type" value="Real" /> Real
				</div>
				<div class="col-md-7" id="strategy_new-simulate_div">
					<div class="btn-group" role="group">
						Simulation
						<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Configuration
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" id="strategy_new-confg_dropdown" role="menu">
							<li><input type="text" id="stock_tick" Value=400 size=5> Tick</li>
							<li><input type="text" id="stock_mu" Value=2 size=5> mu</li>
							<li><input type="text" id="stock_sigma" Value=10 size=5> sigma</li>
						</ul>
					</div>
				    <input type="button" id="strategy_new-refresh" Value="Refresh" />
				</div>
				<div class="col-md-7" id="strategy_new-real_div" style="display:none">
				    Stock 
				    <input type="text" id="strategy_new-stockid" />
				    <input type="button" id="strategy_new-import" Value="Import" />
				</div>
			</div>
		</div>
		<hr>
		<pre id="console">Console: Write you strategy code and then click run...</pre>
		<hr>
		<button type="button" id="strategy_new-save" class="btn btn-primary btn-lg btn-block">Save</button>
		
		<!-- Modal -->
		<div class="modal fade" id="strategy_new-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Save Strategy</h4>
					</div>
					<div class="modal-body">
						<div id="strategy_new-errdiv"></div>
						<h5>Strategy name</h5>
						<input type="text" id="strategy_new-name" class="form-control" value="<%= strategy.name%>" placeholder="Enter strategy name..."/>
						<hr>
						<h5>Description</h5>
						<textarea class="form-control" id="strategy_new-description" rows="10" placeholder="Enter strategy description..."><%= strategy.description%></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<input type="submit" class="btn btn-primary" value="Save Changes"></input>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal END -->
		
		<input type="hidden" id="_csrf" name="_csrf" value="<%= _csrf %>" />
		<input type="hidden" id="strategy_new-author" name="author" value="<%= session.User.name %>" />
	</form>
</div>

<% _.each(indicators, function(indicator) { %>
<input type="hidden" value="<%= indicator.code %>" id="<%= indicator.name %>" />
<% }); %>

<%- block('localScripts', '<script src="/localjs/strategy_new.js"></script>') %>
